<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h3>
        <%= gravatar_for @user, :size => 60 %>
        <%= link_to @title, @user %>
      </h1>
      <%= render 'follow_form' if signed_in? %>
      <p id="notice"><%= notice %></p>

      <p><%= link_to @user.email, "mailto:" + @user.email %></p>

      <p>
      <b>Birthday:</b>
      <%= @user.birthday %>
      </p>

      <hr/>
      <h3>Posts</h3>

      <% if @user.posts.empty? %>
        No posts found for this user.
      <% else %>
        <table class="posts" summary="User posts">
          <%= render :partial => 'shared/feed_item', :collection => @user.posts %>
        </table>
        <%= will_paginate @posts %>
      <% end %>


      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @title %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Posts</strong> <%= @user.posts.count %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>
