<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <table class="user">
        <tr>
          <td class="gravatar"><%= gravatar_for @user, :size => 100 %></td>
          <td class="name"><h2>
            <%= link_to @title, @user %></h2>
            <%= link_to @user.email, "mailto:" + @user.email %> <br/>
            <% if not @user.organizations.empty? %>
              <%= link_to @user.organizations[0].name, @user.organizations[0] %>
            <% end %>
            <%= render 'follow_form' if signed_in? %>
          </td>
          <td class="info">
            <p> <b>Birthday:</b> <%= @user.birthday %> </p>
            <%= link_to 'Edit', edit_user_path(@user) if signed_in? && current_user?(@user) %>
          </td>
        </tr>
      </table>
      
      <%= render 'shared/post_form' if signed_in? %>
      <h3>Posts</h3>
      <p id="notice"><%= notice %></p>
      
      <% if @user.posts.empty? %>
        No posts found for this user.
      <% else %>
        <table class="posts" summary="User posts">
          <%= render :partial => 'shared/feed_item', :collection => @user.posts %>
        </table>
        <%= will_paginate @posts %>
      <% end %>
    </td>
    
    <%= render 'shared/sidebar' %>
  </tr>
</table>
