<table summary="Information about following/followers">
  <tr>
    <td class="main">
      <h1><%= @title %></h1>
      
      <% unless @interests.empty? %>
        <ul class="interest">
          <%= render @interests %>
        </ul>
        <%= will_paginate @interests %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.first_name %> <%= @user.last_name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Posts</strong> <%= @user.posts.count %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>
