<p id="notice"><%= notice %></p>

<h3><%= link_to @title, @user %></h3>
<%= gravatar_for @user, :size => 60 %>

<p><%= link_to @user.email, "mailto:" + @user.email %></p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>

<p>
  <b>Post Count:</b>
  <%= @user.posts.count %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> <br/>


<h3>Status Update</h3>
<%= render 'shared/post_form' %>

<hr/>
<h3>Posts</h3>

<% if @user.posts.empty? %>
  No posts found for this user. <br/> <br/>
<% else %>
  <table class="posts" summary="User posts">
    <%= render @posts %>
  </table>
  <%= will_paginate @posts %>
<% end %>

<%= link_to 'All Users', users_path %>
