<% if feed_item.poster_id %>
  <% @poster = User.find(feed_item.poster_id) %>
<% else %>
  <% @poster = feed_item.user %>
<% end %>

<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(@poster), @poster %>
  </td>
  
  <td class="post" data-time="<%= feed_item.created_at.to_i %>">
    <span class="user">
      <%= link_to @poster.first_name + " " + @poster.last_name, @poster %>
      <% if feed_item.poster_id %>
        &#8594; <%= link_to feed_item.user.first_name + " " + feed_item.user.last_name, feed_item.user %>
      <% end %>
    </span>
    
    <div class="content">
      <div class="text"><%= feed_item.content %></div>
      <span class="timestamp"> <%= time_ago_in_words(feed_item.created_at) %> ago </span>
    </div>
    
    <ul class="comments">
      <% feed_item.comments.each do |comment| %>
        <% if comment.content %>
        <li>
          <% @commenter = User.find(comment.commenter_id) %>
          <%= link_to (gravatar_for @commenter, :size => 40), @commenter %>
          <% if current_user?(@commenter) %>
            <%= link_to "X", [feed_item.user, feed_item, comment], :method => :delete,
                                    :confirm => "You sure?",
                                    :title => "Delete comment",
                                    :class => "delete" %>
          <% end %>
          <div class="text">
            <span><%= link_to @commenter.first_name + " " + @commenter.last_name, @commenter %></span>
            <span class="comment_content"><%= comment.content %></span>
          </div>
          <span class="timestamp"> <%= time_ago_in_words(comment.created_at) %> ago </span>
        </li>
        <% end %>
      <% end %>
      
      <% if signed_in? %>
        <%= form_for([feed_item.user, feed_item, feed_item.comments.build(:user_id => feed_item.user.id, :post_id => feed_item.id)], :commenter_id => current_user.id) do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>
          <%= f.hidden_field :user_id, :value => feed_item.user.id %>
          <%= f.hidden_field :post_id %>
          <%= f.hidden_field :commenter_id, :value => current_user.id %>
          <div class="field">
            <%= f.text_field :content, :placeholder => "Comment..." %>
            <%= f.submit "Comment", :class => "btn small" %>
          </div>
        <% end %>
      <% end %>
    </ul>
  </td>
  
  <td class="delete">
  <% if current_user?(feed_item.user) or current_user?(@poster) %>
    <%= link_to "X", [@user, feed_item], :method => :delete,
                            :confirm => "You sure?",
                            :title => "Delete #{@user.first_name} #{@user.last_name}'s post",
                            :class => "delete" %>
  <% end %>
  </td>
</tr>
