<% if signed_in? %>
  <td class="main">
    <h3>Status Update</h3>
    <%= render 'shared/post_form' %>
    <h3>News Feed</h3>
    <%= render 'shared/feed' %>
  </td>
  <%= render 'shared/stats' %>
<% else %>
  <!-- Create a splash page to go here -->
  <h3><%= link_to "Sign in", signin_path %></h3>
  <%= link_to 'New User', new_user_path %>
<% end %>
