<% if signed_in? %>
  <td class="main">
    <h3>Status Update</h3>
    <%= render 'shared/post_form' %>
    <h3>News Feed</h3>
    <%= render 'shared/feed' %>
  </td>
  <%= render 'shared/stats' %>
<% else %>
  <br/>
  
  <div class="mini-signin">
  <%= form_for(:session, :url => sessions_path) do |f| %>
      <div class="field"><%= f.text_field :email, :placeholder => 'Email' %></div>
      <div class="field"><%= f.password_field :password, :placeholder => 'Password' %></div>
      <%= f.submit "Sign in", :class =>"btn primary" %>
  <% end %>
  </div>
  
  <h1 class="welcome">Welcome to PennBook!</h1> 
  <%= link_to 'New User? Sign up now!', new_user_path %>
  <br/> <br/> <br/>
  
<% end %>
