<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user.first_name + " " + @user.last_name  %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  Posted <%= time_ago_in_words(@post.created_at) %> ago
</p>


<%= link_to 'Edit', edit_user_post_path(@user, @post) %> |
<%= link_to 'Back', user_posts_path(@user) %>
